DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=boboktai-backend.onrender.com

DATABASE_URL=postgres://user:password@host:5432/dbname

FIREBASE_CREDENTIALS=/opt/render/project/src/firebase-service-account.json

